canvas{
    border: 5px,rgb(255, 221, 248);
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
    height: 280px;
    width: 280px;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px mediumpurple;}
    to{box-shadow: 1px 1px 38px orchid;}
}
.h31{
    font-style:white;
    font-family: 'Festive', cursive;
    font-size: 25px;
}
.btnsong{
    font-style:white;
    font-family: 'Festive', cursive;
    font-size: 20px;
}
body{
    background-size: cover;
}